.tela {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
    min-width: 8rem;

    input {
        border: none;
        border-bottom: 0.08rem;
        border-bottom-style: solid;
        height: 2rem;
        font-size: 1.5rem;
    }

    button {
        height: 1rem;
        font-weight: bold;
    }
}

form > * {
    margin-bottom: 0.3rem;
    text-align: center;
}