.tela {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

app-status-jogo, form {
    margin-top: 1rem;

    ul {
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }
}
